body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../../img/lottaBacon.png");
    background-size: 30%;
    background-repeat: repeat-y;
    background-position-y: center;
    background-position-x: right;
    background-color: #fff;
}

.social-links li {
    list-style-type: none;
}

header {
    padding-top: 2%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
    background: none;
    color: firebrick;
    font-family: 'Pattaya', sans-serif;
    font-size: 28px;
}

header ul {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template: 1fr 1fr;
    grid-column: 3/4;
    grid-gap: none;
    align-content: flex-end;
    margin: auto;
}

header li a {
    font-size: 50px;
    justify-self: space-around;
    align-self: center;
    margin-bottom: 15px;
    transition: 0.5s;
    color: black;
}

header li a:hover {
    transform: scale(1.25);
    transition: 0.5s;
    color: firebrick;
}

header h1 {
    grid-column: 2/3;
    text-align: center;
    align-self: center;
    justify-self: center;
}

hr {
    width: 95%;
    border-radius: 20px;
    filter: blur(1px);
}

.logo {
    width: 225px;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.team img {
    border-radius: 50%;
    width: 200px;
    margin-right: 15px;
}

.team img:nth-of-type(1) {
    background-color: white;
}

.team div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
}

h3, h2 {
    font-family: 'Pattaya', sans-serif;
}

label, p {
    font-family: 'Rancho', cursive;
}

a {
    font-family: 'Rancho', cursive;
    text-align: center;
    font-size: 30px;
    color: black;
    transition: 0.3s;
    text-shadow: #ffeaa7 2px -1px 1px;
}

@media (min-width: 568px) {
    h2, img, article {
        transform: scale(0.6);
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        text-align: center;
    }

    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .fadeInDown img {
        justify-self: center;
        align-self: center;
        margin: auto;
    }

    .team, .page-container, .about-video {
        align-self: center;
    }

    label {
        justify-self: flex-end;
        text-align: center;
    }

    .about-video {
        margin-top: 10%;
    }

    p {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 992px) {

    .social-links li:nth-of-type(1) {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    h1 {
        font-size: 60px;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2%;
    }

    .team {
        display: flex;
        flex-direction: row;
    }

    h3, h2 {
        font-size: 28px;
    }

    label, p {
        font-size: 22px;
    }

    .team, .page-container, .about-video {
        align-self: flex-start;
    }

    label {
        justify-self: center;
        align-self: center;
        margin: auto;
        text-align: center;
    }

    p {
        width: 75%;
    }
}